.app {
    padding: 20px;
}

main {
    height: 4000px;
    background: linear-gradient(180deg, red, blue)
}

button, a {
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
}

.content {
    height: 3000px;
    background: linear-gradient(180deg, green, yellow);
}