.Overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background-color: $background--white;

    &Modal {
        position: relative;
        margin: 0 auto;
        padding: 80px 100px;
        max-width: 1250px;
        @include fadeinAnimation;
    }

    &Close {
        cursor: pointer;
        position: absolute;
        outline: none;
        color: $text--secondary;
        top: 40px;
        right: 40px;
        font-size: 30px;
        color: $text--black;
    }
}


// temp, delete before finishing task
button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"]) {
    &:focus {
        outline: 2px solid black !important;
    }
}